.orig
/classes/
/test-classes/
searchable-index/
target/
.classpath
.settings
.project
*~
.idea
build/
*.iml
.gradle/
activemq-data/
vagrant/.vagrant
node_modules/
.DS_Store
segments.*
segments_*
*.lock
/bin/
.springbeans
/bin/
.gradle
search_index
src/main/resources/webapp/client.js
src/main/resources/webapp/edit-client.js
src/main/resources/webapp/project.js
src/main/resources/webapp/edit-project.js
npm-debug.log
src/main/resources/webapp/crew.js
src/main/resources/webapp/courtesycall.js
src/main/resources/webapp/edit-company.js
src/main/resources/webapp/client-document.js
src/main/resources/webapp/company.js
src/main/resources/webapp/edit-crew.js
src/main/resources/webapp/edit-courtesycall.js
src/main/resources/webapp/login.js
casapro.log
*.gz
