/*----------------------------TOP NAV------------------------------*/
.navbar {
	color: #ffffff;
	font-family: sans-serif;
	font-size:14px;
	background-color: transparent;
	border: none;
}
.navbar-default {
	background-color: #625a57;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
.navbar-default .navbar-brand {
	color: #ffffff;
}
.navbar-brand {
	background: url("../images/cr-logo.gif") no-repeat scroll center center #4c4441;
    background-size: 210px 66px;
	height: 66px;
	padding: 0;
	text-align: center;
	text-indent: -9999px;
	text-transform: lowercase;
	width: 210px;
}
.navbar-inverse .navbar-brand {
	color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ffffff;
	background-color: #4c4441;
}
.navbar-default .navbar-text {
	color: #000000;
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ffffff;
	background-color: #3d3532;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #3d3532;
	border: none;
}
.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
	color: #ffffff;
	background-color: #3d3532;
}
.navbar-nav > li > a {
	border: medium none;
	border-radius: 0;
	height: 66px;
	margin: 0;
	padding: 22px 15px;
}
.navbar-nav > li > a:hover {
	border: none;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #ffffff;
	background-color: #3d3532;
	border: none;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #3d3532;
	border: none;
}
.search-bar {
	float: left;
	padding: 0 15px;
}
.search-bar .input-group {
	background-color: #ffffff;
	border-radius: 20px;
	margin-top: 15px;
	position: relative;
	width: 270px;
}
#search_box {
	background-color: transparent;
	border: none;
	border-radius: 20px;
	height: 36px;
	padding-left: 15px;
	font-size: 14px;
}
.search-bar .input-group .input-group-btn {
	position: absolute;
	right: 34px;
	z-index: 10;
}
#search_button {
	border: none;
	border-radius: 0 20px 20px 0;
	height: 36px;
	padding: 8px 13px 8px 10px;
	width:37px;
	background-color:#ffffff;
}

/*----------------------------END TOP NAV------------------------------*/
